.post {
    width: 50%;
    background-color: aqua;
    margin: auto;
    border-radius: 50px;
    overflow: hidden;
}

.post h2 {
    padding: 10 px;
}

.post img {
    width: 100%;
}

header {
    background-color: rgba(97, 223, 74, 0.799);
    position: sticky;
    top: 0;
    margin-bottom: 5px;
}

header ul {
    list-style: none;
    margin: 0 0 0 15px;

}
header li{
    float: left;
}
td img {
    width: 80px;
    border-radius: 15px;
}

body {
    margin: 0;
}

.footer {
    width: 100%;
    background-color: black;
    border-radius: 0;
    margin: 0;
}

.footer div {
    display: flex;
    margin: 0;
    border-radius: 0;
    background-color: inherit;
    color: white;
    width: auto;
    margin: 10px;
}

.info img {
    width: 48px;
    height: 48px;
    margin: 0 10px;
    border-radius: 50%;
}

.info div {
    display: table;
    align-items: center;
}

a h2 {
    margin: 10px;
}
.button:hover{
    background-color: crimson;
    cursor: pointer;
}
.disadled{
    font-weight: bold;
    background-color: crimson;
}
@media(max-width:480px){
    .headerImg{
        content: url(../imeges/prodykts/zaglawnaa.jpg)
    }
    .header ul{
        margin: 0;
        padding: 0;
        font-size: small;
    }
    .post{
        width:100%;
        border-radius: 0;
    }
    
}
